In [2]:
import numpy as np
import pandas as pd
from models import train_validate, run_trading
import os
import warnings
warnings.filterwarnings('ignore')

In [9]:
REBALANCE_WINDOW = 63 # =252/4
MARKETS = ['US', 'JP', 'VN', 'VNn']

model_path = os.path.join(os.getcwd(), 'trained_models')
if not os.path.exists(model_path):
    for market in MARKETS:
        os.makedirs(os.path.join(model_path, market))

result_path = os.path.join(os.getcwd(), 'results')
if not os.path.exists(result_path):
    for market in MARKETS:
        os.makedirs(os.path.join(result_path, market))

## 1. US: Dow Jones 30 Index

In [6]:
data_df_US = pd.read_csv('data/DowJones30Index_final.csv', index_col=0)
data_df_US

,date,ticker,adjcp,open,high,low,volume,macd,rsi,cci,adx
0,2015-01-05,AAPL,23.604332,27.072500,27.162500,26.352501,257142000,0.000000,0.000000,-66.666667,100.000000
1,2015-01-05,AMGN,116.813530,157.429993,159.600006,154.259995,4080300,0.000000,0.000000,-66.666667,100.000000
2,2015-01-05,AMZN,15.109500,15.350500,15.419000,15.042500,55484000,0.000000,0.000000,-66.666667,100.000000
3,2015-01-05,AXP,77.756500,92.459999,92.779999,90.320000,3469600,0.000000,0.000000,-66.666667,100.000000
4,2015-01-05,BA,112.870049,129.660004,129.919998,128.610001,5024800,0.000000,0.000000,-66.666667,100.000000
...,...,...,...,...,...,...,...,...,...,...,...
77215,2025-03-28,TRV,261.790009,265.510010,266.309998,261.489990,1185400,-3.669985,44.635636,-60.321271,8.898046
77216,2025-03-28,UNH,516.039978,516.869995,520.979980,515.049988,2379100,3.442130,56.974744,93.635634,24.673511
77217,2025-03-28,V,342.281555,349.190002,351.619995,341.609985,5687600,5.170884,51.515071,97.500933,1.661622
77218,2025-03-28,VZ,44.219753,45.130001,45.340000,44.880001,19530600,-1.002974,49.912685,-103.656814,1.129280
77219,2025-03-28,WMT,84.944626,85.430000,85.830002,84.699997,14790600,-2.743966,41.749292,-76.593141,19.445940

In [7]:
START_TRADE_DATE = '2021-01-01'
all_dates = data_df_US['date'].unique()
start_trade_id = np.where(all_dates>=START_TRADE_DATE)[0][0]
start_trade_id = start_trade_id - REBALANCE_WINDOW - 1
trade_dates_US = list(all_dates[start_trade_id:])
print(f'Last training day of the first training: {trade_dates_US[0]}')
print(f'Validation starts from: {trade_dates_US[1]}')
print(f'Trading starts from: {trade_dates_US[REBALANCE_WINDOW+1]}')

Last training day of the first training: 2020-10-01
Validation starts from: 2020-10-02
Trading starts from: 2021-01-04

### 1.1. A2C

In [ ]:
train_validate(market='US', model_name='A2C', data_df=data_df_US, trade_dates=trade_dates_US, rebalance_window=REBALANCE_WINDOW)

In [ ]:
run_trading(market='US', model_name='A2C', data_df=data_df_US, trade_dates=trade_dates_US, rebalance_window=REBALANCE_WINDOW)

### 1.2. PPO

In [ ]:
train_validate(market='US', model_name='PPO', data_df=data_df_US, trade_dates=trade_dates_US, rebalance_window=REBALANCE_WINDOW)

In [ ]:
run_trading(market='US', model_name='PPO', data_df=data_df_US, trade_dates=trade_dates_US, rebalance_window=REBALANCE_WINDOW)

### 1.3. DDPG

In [ ]:
train_validate(market='US', model_name='DDPG', data_df=data_df_US, trade_dates=trade_dates_US, rebalance_window=REBALANCE_WINDOW)

In [ ]:
run_trading(market='US', model_name='DDPG', data_df=data_df_US, trade_dates=trade_dates_US, rebalance_window=REBALANCE_WINDOW)

### 1.4. TD3

In [ ]:
train_validate(market='US', model_name='TD3', data_df=data_df_US, trade_dates=trade_dates_US, rebalance_window=REBALANCE_WINDOW)

In [ ]:
run_trading(market='US', model_name='TD3', data_df=data_df_US, trade_dates=trade_dates_US, rebalance_window=REBALANCE_WINDOW)

## 2. Japan: TOPIX 30 Index

In [17]:
data_df_JP = pd.read_csv('data/TOPIX30Index_final.csv', index_col=0)
data_df_JP

,date,ticker,adjcp,open,high,low,volume,macd,rsi,cci,adx
0,2015-01-05,2914.T,1919.940430,3288.500000,3295.000000,3226.000000,5627300.0,0.000000,0.000000,-66.666667,100.000000
1,2015-01-05,3382.T,1167.011719,1443.333374,1456.333374,1431.666626,6087300.0,0.000000,0.000000,-66.666667,100.000000
2,2015-01-05,4063.T,1312.988770,1566.800049,1595.400024,1561.400024,4520000.0,0.000000,0.000000,-66.666667,100.000000
3,2015-01-05,4502.T,3257.554443,4983.500000,5027.000000,4923.000000,1858000.0,0.000000,0.000000,-66.666667,100.000000
4,2015-01-05,4568.T,471.281891,558.666687,560.666687,552.333313,14561100.0,0.000000,0.000000,-66.666667,100.000000
...,...,...,...,...,...,...,...,...,...,...,...
75655,2025-03-28,9432.T,146.600006,147.500000,147.899994,146.300003,181251800.0,214.588829,63.812462,122.092833,26.277735
75656,2025-03-28,9433.T,2442.500000,2438.500000,2442.500000,2387.000000,7566500.0,0.113848,49.471773,15.574296,14.024257
75657,2025-03-28,9434.T,212.100006,211.500000,212.500000,208.899994,85659400.0,-7.458409,52.840206,-0.624332,11.199852
75658,2025-03-28,9983.T,45740.000000,46440.000000,46440.000000,45250.000000,1390000.0,6.202154,47.586720,-84.782479,2.653637
75659,2025-03-28,9984.T,7920.000000,7850.000000,7925.000000,7841.000000,6532700.0,-235.014574,42.699494,-63.116835,11.524606

In [18]:
START_TRADE_DATE = '2021-01-01'
all_dates = data_df_JP['date'].unique()
start_trade_id = np.where(all_dates>=START_TRADE_DATE)[0][0]
start_trade_id = start_trade_id - REBALANCE_WINDOW - 1
trade_dates_JP = list(all_dates[start_trade_id:])
print(f'Last training day of the first training: {trade_dates_JP[0]}')
print(f'Validation starts from: {trade_dates_JP[1]}')
print(f'Trading starts from: {trade_dates_JP[REBALANCE_WINDOW+1]}')

Last training day of the first training: 2020-09-29
Validation starts from: 2020-09-30
Trading starts from: 2021-01-04

### 2.1. A2C

In [ ]:
train_validate(market='JP', model_name='A2C', data_df=data_df_JP, trade_dates=trade_dates_JP, rebalance_window=REBALANCE_WINDOW)

In [ ]:
run_trading(market='JP', model_name='A2C', data_df=data_df_JP, trade_dates=trade_dates_JP, rebalance_window=REBALANCE_WINDOW)

### 2.2. PPO

In [ ]:
train_validate(market='JP', model_name='PPO', data_df=data_df_JP, trade_dates=trade_dates_JP, rebalance_window=REBALANCE_WINDOW)

In [ ]:
run_trading(market='JP', model_name='PPO', data_df=data_df_JP, trade_dates=trade_dates_JP, rebalance_window=REBALANCE_WINDOW)

### 2.3. DDPG

In [ ]:
train_validate(market='JP', model_name='DDPG', data_df=data_df_JP, trade_dates=trade_dates_JP, rebalance_window=REBALANCE_WINDOW)

In [ ]:
run_trading(market='JP', model_name='DDPG', data_df=data_df_JP, trade_dates=trade_dates_JP, rebalance_window=REBALANCE_WINDOW)

### 2.4. TD3

In [ ]:
train_validate(market='JP', model_name='TD3', data_df=data_df_JP, trade_dates=trade_dates_JP, rebalance_window=REBALANCE_WINDOW)

In [ ]:
run_trading(market='JP', model_name='TD3', data_df=data_df_JP, trade_dates=trade_dates_JP, rebalance_window=REBALANCE_WINDOW)

## 3. Vietnam: VN30 Index

In [3]:
data_df_VN = pd.read_csv('data/VN30Index_final.csv', index_col=0)
data_df_VN

,date,ticker,adjcp,open,high,low,volume,macd,rsi,cci,adx
0,2018-07-02,ACB,6.43,6.87,6.87,6.33,6858520.0,0.000000,0.000000,-66.666667,100.000000
1,2018-07-02,AGR,3.11,3.11,3.12,3.06,45020.0,0.000000,0.000000,-66.666667,100.000000
2,2018-07-02,BCM,17.83,17.83,17.83,17.83,100.0,0.000000,0.000000,-66.666667,100.000000
3,2018-07-02,BID,13.66,14.07,14.35,13.44,3542250.0,0.000000,0.000000,-66.666667,100.000000
4,2018-07-02,BVH,65.19,67.06,70.19,64.35,128870.0,0.000000,0.000000,-66.666667,100.000000
...,...,...,...,...,...,...,...,...,...,...,...
50605,2025-03-31,VIC,58.00,57.80,58.50,57.30,6654000.0,-0.157237,45.902389,120.045068,11.080777
50606,2025-03-31,VJC,95.00,95.90,95.90,94.70,524800.0,4.038610,86.630697,120.045068,60.646184
50607,2025-03-31,VNM,58.53,58.72,59.49,58.53,5308209.0,-0.413602,38.714407,-197.782362,23.656456
50608,2025-03-31,VPB,18.50,18.64,18.74,18.50,14768166.0,-0.072691,44.392790,-82.252878,2.737455
50609,2025-03-31,VRE,19.15,19.30,19.45,19.05,11536000.0,0.560735,61.059579,94.312675,24.332114

In [4]:
START_TRADE_DATE = '2023-01-01'
all_dates = data_df_VN['date'].unique()
start_trade_id = np.where(all_dates>=START_TRADE_DATE)[0][0]
start_trade_id = start_trade_id - REBALANCE_WINDOW - 1
trade_dates_VN = list(all_dates[start_trade_id:])
print(f'Last training day of the first training: {trade_dates_VN[0]}')
print(f'Validation starts from: {trade_dates_VN[1]}')
print(f'Trading starts from: {trade_dates_VN[REBALANCE_WINDOW+1]}')

Last training day of the first training: 2022-10-04
Validation starts from: 2022-10-05
Trading starts from: 2023-01-03

### 3.1. A2C

In [ ]:
train_validate(market='VN', model_name='A2C', data_df=data_df_VN, trade_dates=trade_dates_VN, rebalance_window=REBALANCE_WINDOW)

In [ ]:
run_trading(market='VN', model_name='A2C', data_df=data_df_VN, trade_dates=trade_dates_VN, rebalance_window=REBALANCE_WINDOW)

### 3.2. PPO

In [ ]:
train_validate(market='VN', model_name='PPO', data_df=data_df_VN, trade_dates=trade_dates_VN, rebalance_window=REBALANCE_WINDOW)

In [ ]:
run_trading(market='VN', model_name='PPO', data_df=data_df_VN, trade_dates=trade_dates_VN, rebalance_window=REBALANCE_WINDOW)

### 3.3. DDPG

In [ ]:
train_validate(market='VN', model_name='DDPG', data_df=data_df_VN, trade_dates=trade_dates_VN, rebalance_window=REBALANCE_WINDOW)

In [ ]:
run_trading(market='VN', model_name='DDPG', data_df=data_df_VN, trade_dates=trade_dates_VN, rebalance_window=REBALANCE_WINDOW)

### 3.4. TD3

In [ ]:
train_validate(market='VN', model_name='TD3', data_df=data_df_VN, trade_dates=trade_dates_VN, rebalance_window=REBALANCE_WINDOW)

In [ ]:
run_trading(market='VN', model_name='TD3', data_df=data_df_VN, trade_dates=trade_dates_VN, rebalance_window=REBALANCE_WINDOW)

## 4. Vietnam: Qualified Stocks published before 2015

In [3]:
data_df_VNn = pd.read_csv('data/VN30new_final.csv', index_col=0)
data_df_VNn

,date,ticker,adjcp,open,high,low,volume,macd,rsi,cci,adx
0,2015-01-05,ACB,2.34,2.35,2.35,2.32,55888.0,0.000000,100.000000,66.666667,100.000000
1,2015-01-05,AGR,5.35,5.26,5.35,5.26,93170.0,0.000000,100.000000,66.666667,100.000000
2,2015-01-05,BID,5.91,5.91,5.96,5.91,66380.0,0.000000,100.000000,66.666667,100.000000
3,2015-01-05,BVH,26.55,25.59,26.94,25.59,984900.0,0.000000,100.000000,66.666667,100.000000
4,2015-01-05,CTG,8.17,8.12,8.23,8.12,60490.0,0.000000,100.000000,66.666667,100.000000
...,...,...,...,...,...,...,...,...,...,...,...
76705,2025-03-31,VHM,58.00,57.80,58.50,57.30,6654000.0,0.663964,51.778060,6.161769,14.859633
76706,2025-03-31,VIC,58.00,57.80,58.50,57.30,6654000.0,2.588240,78.112210,120.045068,48.772597
76707,2025-03-31,VIX,58.53,58.72,59.49,58.53,5308209.0,4.038610,86.630697,120.045068,60.646184
76708,2025-03-31,VND,58.53,58.72,59.49,58.53,5308209.0,0.087707,56.988075,166.020672,28.065928
76709,2025-03-31,VNM,58.53,58.72,59.49,58.53,5308209.0,-0.328211,43.240064,-98.377502,5.977258

In [4]:
START_TRADE_DATE = '2021-01-01'
all_dates = data_df_VNn['date'].unique()
start_trade_id = np.where(all_dates>=START_TRADE_DATE)[0][0]
start_trade_id = start_trade_id - REBALANCE_WINDOW - 1
trade_dates_VNn = list(all_dates[start_trade_id:])
print(f'Last training day of the first training: {trade_dates_VNn[0]}')
print(f'Validation starts from: {trade_dates_VNn[1]}')
print(f'Trading starts from: {trade_dates_VNn[REBALANCE_WINDOW+1]}')

Last training day of the first training: 2020-10-05
Validation starts from: 2020-10-06
Trading starts from: 2021-01-04

### 4.1. A2C

In [ ]:
train_validate(market='VNn', model_name='A2C', data_df=data_df_VNn, trade_dates=trade_dates_VNn, rebalance_window=REBALANCE_WINDOW)

In [ ]:
run_trading(market='VNn', model_name='A2C', data_df=data_df_VNn, trade_dates=trade_dates_VNn, rebalance_window=REBALANCE_WINDOW)

### 4.2 PPO

In [ ]:
train_validate(market='VNn', model_name='PPO', data_df=data_df_VNn, trade_dates=trade_dates_VNn, rebalance_window=REBALANCE_WINDOW)

In [ ]:
run_trading(market='VNn', model_name='PPO', data_df=data_df_VNn, trade_dates=trade_dates_VNn, rebalance_window=REBALANCE_WINDOW)

### 4.3. DDPG

In [ ]:
train_validate(market='VNn', model_name='DDPG', data_df=data_df_VNn, trade_dates=trade_dates_VNn, rebalance_window=REBALANCE_WINDOW)

In [ ]:
run_trading(market='VNn', model_name='DDPG', data_df=data_df_VNn, trade_dates=trade_dates_VNn, rebalance_window=REBALANCE_WINDOW)

### 4.4 TD3

In [ ]:
train_validate(market='VNn', model_name='TD3', data_df=data_df_VNn, trade_dates=trade_dates_VNn, rebalance_window=REBALANCE_WINDOW)

In [ ]:
run_trading(market='VNn', model_name='TD3', data_df=data_df_VNn, trade_dates=trade_dates_VNn, rebalance_window=REBALANCE_WINDOW)